<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .form {
            width: 500px;
            margin: 100px auto;
        }

        .input-group {
            padding: 10px;
        }
    </style>
</head>
<body class="bg-dark-900 text-white font-sans">
    <!-- Navbar -->
    <%- include('partials/navbar', { currentPage: 'Home' }) %>
    <%- include('partials/table', {
        tableTitle: 'Users',
        headers: ['ID', 'Email', 'Name', 'Password'],
        data: listUsers,
        showActions: true, // ✅ enable action column
        emptyMessage: 'No user.',
        extraContent: undefined
    }) %>
    <div class="form">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Add new users</legend>
                <div class="input-group">
                    <label>Email:</label>
                    <input type="text" name="email" placeholder="Enter email">
                </div>
                <div class="input-group">
                    <label>Name:</label>
                    <input type="text" name="name" placeholder="Enter name">
                </div>
                <div class="input-group">
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Enter password">
                </div>
                <button class="button">Save</button>
            </fieldset>
        </form>
    </div>
    <script type="module" src="javascript/home.js"></script>
</body>
</html>