<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create users</a>
        <a href="/proxyChecker">Proxy checker</a>
        <a href="/proxyManager">Proxy manager</a>
    </div>
    <h1>Welcome to 1mcloud manager</h1>
    <script src="javascript/home.js"></script>
</body>
</html>