<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to 1mcloud manager</h1>
    <nav>
        <ul>
            <li><a href="/proxyChecker">Proxy Checker</a></li>
            <li><a href="/proxyManager">Proxy Manager</a></li>
        </ul>
    </nav>
    <div class="form">
        <fieldset>
            <legend>Add new users</legend>
            <div class="input-group">
                <label>Email:</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Name:</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Password:</label>
                <input type="password">
            </div>
            <button class="button">Save</button>
        </fieldset>
    </div>
    <script src="javascript/home.js"></script>
</body>
</html>