<div id="copyContainer" class="fixed inset-0 z-50 hidden content-center bg-[rgba(0,0,0,0.5)] backdrop-blur-sm">
	<div id="copyDialog" class="all-slow scale-90 opacity-0 border-border bg-dialog text-text-title relative mx-auto flex w-[80%] max-w-lg flex-col rounded-xl border p-6 pr-4 pb-4 shadow-[0_0_25px_rgba(0,0,0,0.5)] select-none">
		<h2 id="dialogTitle" class="text-text-secondary mb-4 text-xl font-bold"></h2>
		<button id="dialogCopyBtn"
			class="group text-text-muted absolute top-6 right-6 inline-flex cursor-pointer items-center justify-center rounded-lg hover:brightness-[var(--highlight-brightness)]">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
				class="w-7 h-7 fill-none">
				<path stroke-linejoin="round" stroke-width="2"
					class="text-text-muted stroke-current group-hover:brightness-[var(--highlight-brightness)]"
					d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z" />
			</svg>Copy
		</button>
		<textarea id="dialogText" readonly></textarea>
		<button id="closeDialogBtn"
			class="bg-bg-reboot text-text-primary mt-4 self-end rounded-xl px-3 py-2 hover:brightness-90">
			Close
		</button>
	</div>
</div>