<div id="copyDialog" class="fixed inset-0 bg-dark-900/50 hidden mx-auto content-center z-50">
    <div class="relative mx-auto bg-dark-700 p-6 pb-4 pr-4 rounded-xl w-[90%] max-w-lg text-white shadow-xl">
        <h2 id="dialogTitle" class="text-lg font-semibold mb-4"></h2>
        <button id="copyBtn" class="absolute top-6 right-6 text-gray-500 hover:text-gray-400 rounded-lg inline-flex items-center justify-center cursor-pointer">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" class="text-gray-500" stroke-linejoin="round" stroke-width="2" d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"/>
            </svg>
            Copy
        </button>
        <textarea id="dialogText" class="scrollbar-dark" readonly></textarea>
        <div class="text-right mt-4">
        <button id="closeDialogBtn" class="bg-blue-600 hover:bg-blue-700 font-medium py-2 px-3 rounded-xl transition-colors duration-200">Close</button>
        </div>
    </div>
</div>