<footer class="text-xs sm:text-sm footer py-4">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <!-- Business Information -->
            <div class="flex items-center mb-4 md:mb-0">
                <svg id="1mcloud-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" style="width: 50px; height: 50px; margin-right: 10px;">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #053fe5;
                            }

                            .cls-2 {
                                fill: #e2e2e4;
                            }
                        </style>
                    </defs>
                    <path class="cls-1"
                        d="M512,95A417.14,417.14,0,0,1,674.29,896.27,417.14,417.14,0,0,1,349.71,127.73,414.29,414.29,0,0,1,512,95m0-95C229.23,0,0,229.23,0,512s229.23,512,512,512,512-229.23,512-512S794.77,0,512,0Z" />
                    <polygon class="cls-2"
                        points="278.19 279.12 204.29 369.27 204.29 416.09 254.9 416.09 254.9 745.08 362.99 745.08 362.99 279.12 278.19 279.12" />
                    <path class="cls-2"
                        d="M819.7,443.62c-.9-90.84-75.12-164.24-166.74-164.69a166,166,0,0,0-115.89,47.65,175.87,175.87,0,0,0-119.31-47.64l-1.06,0a116.39,116.39,0,0,0-34.61,5.28V397.11h0a52.2,52.2,0,0,1,38-16.73,64.38,64.38,0,0,1,16.37,2.31A62.84,62.84,0,0,1,469,404.09l.16.2a52.23,52.23,0,0,1,10.93,32.34V745H588.19V442.25a58,58,0,0,1,12.92-36.44,64.34,64.34,0,0,1,99.42,0l.16.19a51.38,51.38,0,0,1,10.94,32V745H819.71V443.62Z" />
                </svg>
                <div>
                    <div class="text-lg font-semibold text-white">1mcloud</div>
                    <div class="text-sm text-gray-400"> Professional, flexible VPS | Proxy server services</div>
                </div>
            </div>

            <!-- Social Media Links -->
            <div class="flex space-x-6">
                <a href="#" class="social-icon text-gray-400 hover:text-blue-500" title="Telegram: name1">
                    <i class="fab fa-telegram text-xl"></i>
                    <span class="ml-2 text-sm text-gray-300">@Giang_vps</span>
                </a>
                <a href="#" class="social-icon text-gray-400 hover:text-blue-600" title="Facebook: name2">
                    <i class="fab fa-facebook text-xl"></i>
                    <span class="ml-2 text-sm text-gray-300">h0anq.qianq</span>
                </a>
                <a href="#" class="social-icon text-gray-400 hover:text-green-500" title="Zalo: name3">
                    <i class="fas fa-comment text-xl"></i>
                    <span class="ml-2 text-sm text-gray-300">0961300028</span>
                </a>
            </div>
        </div>
    </div>
</footer>