<div id="renewContainer" class="text-text-secondary fixed content-center inset-0 z-50 hidden bg-[rgba(0,0,0,0.5)] backdrop-blur-sm">
	<div id="renewDialog" class="all-fast scale-90 opacity-0 border-border bg-dialog relative mx-auto flex w-[80%] max-w-3xl flex-col rounded-xl border p-6 pr-4 pb-4 shadow-[0_0_25px_rgba(0,0,0,0.5)] select-none">
		<h2 id="dialogTitle" class="text-text-title mb-4 text-xl font-bold">
			Confirm Renew Servers
		</h2>
		<div class="mb-4">
			<p class="mb-2">
				You are about to Renew
				<span id="selectedCountRenew" class="font-semibold">0</span> servers
				<span id="renewPeriod" class="font-semibold">1 month</span>:
			</p>
			<div class="bg-dialog-td scroll-container overflow-x-auto rounded-lg">
				<div class="scroll-container max-h-72 overflow-y-auto">
					<table class="w-full table-auto">
						<thead class="bg-dialog-thead text-text-primary top-0">
							<tr>
								<th colspan="3" class="px-2 py-3 font-medium tracking-wider uppercase sm:hidden sm:px-4 border-r border-dialog-td">
									Server
								</th>
								<th class="hidden px-2 py-3 font-medium tracking-wider uppercase sm:table-cell sm:px-4 border-r border-dialog-td">
									IP:PORT
								</th>
								<th
									class="hidden px-2 py-3 text-center font-medium tracking-wider uppercase sm:table-cell sm:px-4 border-r border-dialog-td">
									COUNTRY
								</th>
								<th
									class="hidden px-2 py-3 text-center font-medium tracking-wider uppercase sm:table-cell sm:px-4 border-r border-dialog-td">
									TYPE
								</th>
								<th
									class="px-2 py-3 text-center text-nowrap font-medium tracking-wider uppercase sm:px-4 border-r border-dialog-td">
									NEW EXPIRY DATE
								</th>
								<th
									class="px-2 py-3 text-center font-medium tracking-wider uppercase sm:px-4 border-r border-dialog-td">
									STATUS
								</th>
								<th
									class="px-2 py-3 text-center font-medium tracking-wider uppercase sm:px-4">
									NOTE
								</th>
							</tr>
						</thead>
						<tbody id="selectedProxiesRenew">
							<!-- Selected proxies will be inserted here -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="flex justify-end space-x-3">
			<button id="cancelRenew" class="rounded-xl bg-gray-500 px-4 py-2 text-white hover:bg-gray-600">
				Cancel
			</button>
			<button id="confirmRenew" class="rounded-xl bg-blue-600 px-4 py-2 text-white hover:bg-blue-700">
				Confirm
			</button>
		</div>
	</div>
</div>